<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
	<script src="plangular.js"></script>
</head>
<body ng-app="plangular">

<div plangular data-src="http://soundcloud.com/listentofastbreak/sunday-drive">
	<div style="background-image: url(https://scontent-a-iad.xx.fbcdn.net/hphotos-ash2/t1.0-9/29355_371845312903000_1934911230_n.jpg)">
		<a href="" ng-click="player.play(track)" ng-hide="player.playing == track">
			<div plangular-icon="play"></div>
		</a>
		<a href="" ng-click="player.pause()" ng-show="player.playing == track">
			<div plangular-icon="pause"></div>
		</a>
		<h1>{{ track.user.username }} - {{ track.title }}</h1>
	</div>
</div>

</body>
</html>