<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
	<script src="plangular.js"></script>
</head>
<body ng-app="plangular">

<div plangular data-src="http://soundcloud.com/listentofastbreak/sunday-drive">
  <a href="" ng-click="player.play(track)" ng-hide="player.playing == track">
    <div plangular-icon="play"></div>
  </a>
  <a href="" ng-click="player.pause()" ng-show="player.playing == track">
    <div plangular-icon="pause"></div>
  </a>
  <h1>{{ track.user.username }} - {{ track.title }}</h1>
</div>

</body>
</html>